<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <title>简介编辑器</title>
  <link rel="stylesheet" href="./css/default.css">
  <link rel="stylesheet" href="./css/login.css">
  <link rel="stylesheet" href="./css/signUp.css">
</head>
<body>
  <div class="page" id="app">
    <aside>
      <div class="upper">
        <ul>
          <li><span @click="onClickSave">保存</span></li>
          <li><span>打印</span></li>
          <li><span>换肤</span></li>
          <li><span>分享</span></li>
        </ul>
      </div>
      <div class="lower">
        <span @click="onLogout" v-show="!!currentUser.objectId">登出</span>
      </div>
    </aside>
    <main>
      {{resume}}
      <div class="resume">
        <section class="profile">
          <editable-span :value="resume.name" @edit="onEdit('name', $event)"></editable-span>
          <p>应聘职位: <editable-span :value="resume.jobObject" @edit="onEdit('jobObject', $event)"></editable-span></p>
          <p class="basic">
            {{ resume.birth }} | {{ resume.gender }} | {{ resume.email }} | {{ resume.telephone }}
          </p>
        </section>
        <section class="skills">
          <h2>技能</h2>
          <ul>
            <li v-for="skill,index in resume.skills">
              <editable-span class="name" :value="skill.name" @edit="onEdit(`skills[${index}].name`, $event)"></editable-span>
              <div>
                <editable-span class="description" :value="skill.description" @edit="onEdit(`skills[${index}]`, $event)"></editable-span>
              </div>
              <span  class="remove" v-if="index >= 4" @click="removeSkill(index)">x</span>
            </li>
            <li>
              <span @click="addSkill">添加</span>
            </li>
          </ul>
        </section>
        <section class="projects">
          <h2>项目经验</h2>
          <ol>
            <li v-for="item,index in resume.projects">
              <header>
                <h3 class="name">
                  <editable-span :value="item.name" @edit="onEdit(`projects[${index}].name`, $event)"></editable-span>
                </h3>
                <editable-span class="link" :value="item.link" @emit="onEdit(`projects[${index}].link`, $event)"></editable-span>
                <editable-span class="keywords" :value="item.keywords" @emit="onEdit(`projects[${index}].keywords`, $event)"></editable-span>
              </header>
              <editable-span class="description" :value="item.description" @emit="onEdit(`projects[${index}].description`, $event)"></editable-span>
            <span v-if="index >=2" @click="removeProject(index)">x</span>
            </li>
            <li>
              <span @click="addProject">添加</span>
            </li>
          </ol>
        </section>
      </div>
    </main>
    <div class="login" v-show="loginVisible" v-cloak>
      <form class="loginForm" @submit.prevent="onLogin">
        <h1>登录</h1>
        <div class="row">
          <label>邮箱</label>
          <input type="text" v-model="login.email">
        </div>
        <div class="row">
          <label>密码</label>
          <input type="password" v-model="login.password">
        </div>
        <div class="actions">
          <button type="submit">提交</button>
          <a href="#" @click="signUpVisible = true; loginVisible = false">注册</a>
        </div>
      </form>
    </div>
    <div class="signUp" v-show="signUpVisible" v-cloak>
      <form class="signUpForm" @submit.prevent="onSignUp">
        <h1>注册</h1>
        <div class="row">
          <label>邮箱</label>
          <input type="text" v-model="signUp.email">
        </div>
        <div class="row">
          <label>密码</label>
          <input type="password"  v-model="signUp.password">
        </div>
        <div class="actions">
          <button type="submit">提交</button>
          <a href="#" @click="signUpVisible=false; loginVisible=true;">登录</a>
        </div>
      </form>
    </div>
  </div>
  <script src="../vendors/av-min.js"></script>
  <script src="../vendors/vue.min.js"></script>
  <script src="./js/av.js"></script>
  <script src="./js/aditable-span.js"></script>
  <script src="./js/app.js"></script>
</body>
</html>